* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 30%;
    border: 1px solid lightgray;
    margin: 10px 0;
    min-width: 224px;
}

div p {
    padding: 10px;
}

div i {
    padding: 5px;
}

.card img {
    width: 100%;
}

.card p {
    font-size: smaller;
}

.header_wrap {
    min-width: 224px;
}

body {
    font-family: Helvetica, sans-serif;
}

footer {
    height: 60px;
}