/* utility classes */

/* Posizione */
.centred_div {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.mx_50 {
    margin-top: 50px;
}

.mx_20 {
    margin-top: 20px;
}

.margin_auto {
    margin: auto;
}
/* Dimensioni */
.h_100 {
    height: 100px;
}

.h_50 {
    height: 50px;
}

.p_10 {
    padding: 10px;
}

.no_padding {
    padding: 0;
}
.h_40 {
    height: 30px;
}


/* colori */
.bg_red {
    background-color: red;
}

.bg_dark {
    background-color: black;
}

.bg_orange {
    background-color: rgb(255, 105, 0);
}

/* flex*/
.flex {
    display: flex;
}

.flex_space_around {
    display: flex;
    justify-content: space-around;
}

.align_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}
.column_flex {
    flex-direction: column;
}

.flex_wrap {
    display:flex;
    flex-wrap: wrap;
}

/* testo */
.no_bullets {
    list-style-type: none;
}

.text_red {
    color: red;
}

.text_white {
    color: white;
}

.text_center {
    text-align: center;
}

.barred {
    text-decoration: line-through;
}

.font_small {
    font-size: smaller;
}